body{
    background-color: black;
}
#game_board{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.cell{
    border: solid blue;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    line-height: 100%;
    vertical-align: middle;
    font-size:48px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: lightblue;
}
.row{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}
.startpage {
    width: 97vw;
    height: 93vh;
    background-color: black;
    border: 5px solid green;
}
.startpage input, .startpage p {
    background-color: black;
    color: green;
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
}
.startpage input:focus {
    outline-width: 0;
}
#start_pic {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.top .cell{
    border-top: none;
}
.bottom .cell{
    border-bottom: none;
}
.top .left_side {
    border-left: none;
}
.top .right_side {
    border-right: none;
}
.bottom .left_side {
    border-left: none;
}
.bottom .right_side {
    border-right: none;
}
.middle .left_side {
    border-left: none;
}
.middle .right_side {
    border-right: none;
}
