#bgimg {
    width: 100%;
    height: 100%;
    background-color: black;
}
#bgimg>img {
    width: 100%;
    height: 100%;
    opacity: .3;
    position: absolute;
}
body{
    background-color: black;
}
#game_board{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 520px;
    height: 520px;
}
.cell{
    border: solid lightblue;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0;
    line-height: 100%;
    vertical-align: middle;
    font-size:72px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: lightblue;
}
.row{
    height: 80px;
    width: 100%;
    text-align: center;
}
.row .top {
    margin-top: 20%;
}
.startpage {
    width: 97vw;
    height: 93vh;
    background-color: black;
    border: 5px solid green;
}
.startpage input, .startpage p {
    background-color: black;
    color: green;
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
}
.startpage input:focus {
    outline-width: 0;
}
#start_pic {
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-shadow: 0 0 8px 8px white inset
}
.top .cell{
    border-top: none;
}
.bottom .cell{
    border-bottom: none;
}
.top .left_side {
    border-left: none;
}
.top .right_side {
    border-right: none;
}
.bottom .left_side {
    border-left: none;
}
.bottom .right_side {
    border-right: none;
}
.middle .left_side {
    border-left: none;
}
.middle .right_side {
    border-right: none;
}
#egg {
    height: 50%;
    /*width: 50%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
