#bgimg {
    width: 100%;
    height: 100%;
    background-color: black;
}
#bgimg>img {
    width: 100%;
    height: 100%;
    opacity: .3;
    position: absolute;
    z-index: -1;
}
header img {
    height: 15vh;
    top: 10%;
    left: 10%;
    /*transform: translate(-50%,-50%);*/
    position: absolute;
}
body{
    background-color: black;
    overflow: hidden;
}
#game_board{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 520px;
    /*height: 520px;*/
}
#game_screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.cell{
    border: solid lightblue;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0;
    line-height: 100%;
    vertical-align: middle;
    font-size:72px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: lightblue;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row{
    height: 80px;
    width: 100%;
    text-align: center;
}
.startpage {
    width: 97vw;
    height: 93vh;
    background-color: black;
    border: 5px solid green;
}
.startpage input, .startpage p {
    background-color: black;
    color: green;
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
}
.startpage input:focus {
    outline-width: 0;
}
#start_pic {
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-shadow: 0 0 8px 8px white inset
}
.top .cell{
    border-top: none;
}
.bottom .cell{
    border-bottom: none;
}
.top .left_side {
    border-left: none;
}
.top .right_side {
    border-right: none;
}
.bottom .left_side {
    border-left: none;
}
.bottom .right_side {
    border-right: none;
}
.middle .left_side {
    border-left: none;
}
.middle .right_side {
    border-right: none;
}
#egg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*transform: translate(-50%,-50%);*/
    position: absolute;
}
.statscontainer {
    height: 100vh;
    width: 25vw;
    float: right;
}
.statsheader{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: green;
}
.playercontainer{
    font-family: "Lucida Console", Monaco, monospace;
    color: green;
}
.count_down_timer {
    height: 1.7vw;
    /*width: 200px;*/
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2vw;
    position: absolute;
    left: 50%;
    top: 56px;
    transform: translate(-50%,-50%);
    padding: 5px;
    background-color: black;
}
#reset_button {
    height: 25vh;
    bottom: 10%;
    left: 10%;
    position: absolute;
}
#winner {
    height: 100vh;
    width: 100vw;
}
#player1, #player2{
    font-size:32px;
    color: lightblue;
    display: inline-block;
}
.statsheader{
    color: lightblue;
}
.value1, .value2 {
    color: red;
    font-size: 25px;
}
.blocker{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    font-family: "Lucida Console", Monaco, monospace;
    display: none;
    background-color: white;
    text-align: center;
 }
@media screen and (max-width: 500px) {
    .blocker{
        display:inherit;
    }
}
#hypno {
    width: 100vw;
    height: 100vh;
}
#warning_click, #warning_click2 {
    color: red;
}
#warning_click:hover, #warning_click2:hover {
    text-decoration: underline;
}

.startpage0 h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}